html,
body {
	--at-apply: 'font-sans dark:bg-slate-900 h-full max-w-7xl mx-auto';
}

button {
	--at-apply: 'flex w-full items-center justify-center gap-1 rounded-md border border-transparent py-2 text-xs font-medium text-white md:text-sm bg-slate-700 hover:bg-blue-500';
}

textarea {
	--at-apply: 'h-48 w-full rounded border border-slate-600 p-2 sm:h-64 md:h-96';
}

.icon {
	--at-apply: 'w-6 h-6';
}
